<p><a routerLink="/admin/products/new" class="btn btn-primary">New Product</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of products$ | async">
            <td>{{ prod.title }}</td>
            <td>{{ prod.price | currency:'USD':true }}</td>
            <td><a [routerLink]="['/admin/products/',prod.key]">Edit</a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </tfoot>
</table>
